.container {
  width: 1000px;
  margin: 2% auto 0px;
  text-align: center;
  background: goldenrod;
  padding: 20px 50px 50px;
}

h1 {
  font-size: 5em;
}

.btn1 {
  color: #fff;
  background: rgb(0, 174, 255);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 250px;
  margin-top: 30px;
}

.btn2 {
  color: #fff;
  background: rgb(240, 28, 56);
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 30px;
}

#result {
  width: 1000px;
  background-color: aquamarine;
  margin: 20px auto 10px;
  text-align: center;
}
